name: Godot CI test

on:
  workflow_dispatch:
  push:
    branches:
      - main

env:
  GODOT_VERSION: 4.3
  PROJECT_PATH: .

jobs:
  export-web:
    permissions:
      contents: write
    name: Web Export
    runs-on: ubuntu-22.04
    container:
      image: barichello/godot-ci:4.3
    steps:
      - name: Install rsync
        run: |
          apt-get update && apt-get install -y rsync

      - name: Checkout
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Setup
        run: |
          mkdir -v -p build/web ~/.local/share/godot/export_templates/
          mv /root/.local/share/godot/export_templates/${GODOT_VERSION}.stable ~/.local/share/godot/export_templates/${GODOT_VERSION}.stable

      - name: Web Build
        run: |
          cd $PROJECT_PATH
          godot --headless --verbose --export-release "Web" "build/web/index.html"
 
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: web
          path: build/web
          
      - name: Upload Release Assets to itch.io
        run: |
          butler push ./build/web ${{ secrets.ITCHIO_USERNAME }}/${{ secrets.ITCHIO_GAME }}:web
